In [1]:
import mysql.connector as mysql

In [2]:
my_db = mysql.connect(host="localhost", user="root", password="123456", database="intell")

In [3]:
my_cursor = my_db.cursor()

In [4]:
my_cursor.execute("Show databases")

In [5]:
for i in my_cursor:
    print(i)

('information_schema',)
('intell',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('university',)
('university1',)
('world',)

In [6]:
my_cursor.execute("Show tables")

In [7]:
for i in my_cursor:
    print(i)

('hello',)

In [8]:
# Inserting Single line data
sql = "insert into hello(h1, h2) values (%s, %s)"

In [9]:
val = (111, "mohan")

In [10]:
my_cursor.execute(sql, val)

In [11]:
my_db.commit()

In [12]:
my_cursor.execute("select * from hello")

In [13]:
for i in my_cursor:
    print(i)

(10000, 'John')
(102, 'John1')
(103, 'harry')
(111, 'mohan')

In [14]:
# Inserting Multiple Line Data 
sql = "insert into hello(h1, h2) values(%s, %s)"

In [15]:
val = [(101,"John"),(102,"John1"),(103, "harry")]

In [16]:
my_cursor.executemany(sql, val)

In [17]:
my_db.commit()

In [18]:
my_cursor.execute("select * from hello")

In [19]:
for i in my_cursor:
    print(i)

(10000, 'John')
(102, 'John1')
(103, 'harry')
(111, 'mohan')
(101, 'John')
(102, 'John1')
(103, 'harry')

In [20]:
# updating Data
my_cursor.execute("update hello set h1=10000 where h2='john'")

In [21]:
my_cursor.execute("select * from hello")

In [22]:
for i in my_cursor:
    print(i)

(10000, 'John')
(102, 'John1')
(103, 'harry')
(111, 'mohan')
(10000, 'John')
(102, 'John1')
(103, 'harry')

In [23]:
# deleting values
my_cursor.execute("delete from hello where h1=111")

In [24]:
my_db.commit()

In [25]:
my_cursor.execute("select * from hello")

In [26]:
for i in my_cursor:
    print(i)

(10000, 'John')
(102, 'John1')
(103, 'harry')
(10000, 'John')
(102, 'John1')
(103, 'harry')

## Assignment: Basic understanding of MYSQL Database with PYTHON

In [2]:
# Assignmnet-1 
# 1. Create the database University1
# 2. Create table name Students
# 3. Insert the values inside the table
   
#     (CS1 - John - CSE - 24),
#     (CS2 - Mohan - CSE - 23),
#     (CS3 - Rajiv - CSE - 22),
#     (CS4 - Poonam - CSE - 21),
#     (CS4 - Bikki - CSE - 23)

# 4. Update the branch of "CS2" to "IT"
# 5. Delete the record of 'Bikki'
# 6. Show the updated record of student

In [3]:
# Import necessary library
import mysql.connector as mysql

In [11]:
# MYSQL Connection establishment to PYTHON
my_db = mysql.connect(host="localhost", user="root", password="123456", database="university1")

In [12]:
# Create the cursor for data base
my_cursor = my_db.cursor()

In [6]:
# # Create Database -> university
# my_cursor.execute("create database University1")

In [7]:
# Use data base-> university
# my_cursor.execute("use University1")

In [13]:
# Show the database
my_cursor.execute("show databases")

In [14]:
for i in my_cursor:
    print(i)

('information_schema',)
('intell',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('university',)
('university1',)
('world',)

In [16]:
# Create table for University1 Database
# my_cursor.execute("create table student(s_roll varchar(20), s_name varchar(50), s_branch varchar(20),s_age int)")

In [17]:
# Commit the table 
my_db.commit()

In [18]:
# Show the tables
my_cursor.execute("show tables")

In [19]:
# Loop for print the name of tables
for i in my_cursor:
    print(i)

('student',)

In [20]:
# Inserting Multiple Line Data 
sql = "insert into student(s_roll, s_name, s_branch, s_age) values(%s, %s, %s, %s)"
val = [ ("CS1","John","CSE",24),
    ("CS2","Mohan","CSE",23),
    ("CS3","Rajiv","CSE",22),
    ("CS4","Poonam","CSE",21),
    ("CS4","Bikki","CSE",23)]

In [21]:
# Execute query for insert data on the bases of 'val' list
my_cursor.executemany(sql, val)

In [22]:
# Commited the inserted record 
my_db.commit()

In [23]:
# glance of inserted record
my_cursor.execute("select * from student")

In [24]:
for i in my_cursor:
    print(i)

('CS1', 'John', 'CSE', 24)
('CS2', 'Mohan', 'CSE', 23)
('CS3', 'Rajiv', 'CSE', 22)
('CS4', 'Poonam', 'CSE', 21)
('CS4', 'Bikki', 'CSE', 23)

In [25]:
my_cursor.execute("update student set s_branch = 'IT' where s_roll = 'CS2' " )

In [26]:
my_db.commit()

In [27]:
my_cursor.execute("select * from student")
for i in my_cursor:
    print(i)

('CS1', 'John', 'CSE', 24)
('CS2', 'Mohan', 'IT', 23)
('CS3', 'Rajiv', 'CSE', 22)
('CS4', 'Poonam', 'CSE', 21)
('CS4', 'Bikki', 'CSE', 23)

In [28]:
my_cursor.execute("delete from student where s_name = 'Bikki'")

In [29]:
my_db.commit()

In [30]:
my_cursor.execute("select * from student")
for i in my_cursor:
    print(i)

('CS1', 'John', 'CSE', 24)
('CS2', 'Mohan', 'IT', 23)
('CS3', 'Rajiv', 'CSE', 22)
('CS4', 'Poonam', 'CSE', 21)